* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;

}

html,body{
    background-image: url("pexels-jess-bailey-designs-743986.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100% 120%;
    background-attachment: fixed;
}


.navbar {
    height: 60px;
    width: 100%;
    background-attachment: fixed;
}

.logo {
    height: 100%;
    width: 30%;
    font-size: 40px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;

}

.link {
    float: right;
    font-size: 20px;
    margin-right: 55px;
    margin-top: 20px;

}

.link a {
    margin: 20px;
    text-decoration: none;
    color: black;

}

.link a:hover {
    color: rgb(95, 93, 93);
}

.link a:active {
    color: blanchedalmond;
}

.link button {
    border-radius: 15px;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(255, 118, 39);
    color: white;
    border: none;
}



.link button a {
    color: white;
}

.link button a:hover {
    color: white;
}

.link button:hover {
    background-color: rgb(255, 132, 88);
    color: white;
}

.link button:active {
    background-color: chocolate;
}

h1 {
    font-size: 50px;
    margin-top: 50px;
    padding-left: 25px;
}

p {
    padding-left: 25px;
    margin-top: 20px;
    font-size: 20px;
}

.Read {
    border-radius: 40px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(255, 118, 39);
    color: white;
    border: none;
    text-decoration: none;

}

.Read:hover {
    background-color: rgb(255, 132, 88);
}

.Read:active {
    background-color: chocolate;
}

.Contact {
    border-radius: 40px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(0, 86, 184);
    color: white;
    border: none;
    text-decoration: none;
}

.Contact:hover {
    background-color: rgb(88, 88, 243);
}

.Contact:active {
    background-color: rgb(0, 78, 151);
}

.layout1 button {
    margin-top: 80px;
    margin-left: 20px;
}


.layout {
    border-radius: 20px;
    margin: 50px;
    margin-top: 80px;
    height: 400px;
    width: 90%;
    margin-left: 65px;
    background-color: rgba(0, 0, 0, 0.092);

}

.layout1 {
    float: left;
}

.layout2 {
    float: right;
}

.layout2 img {
    margin: 40px;
    height: 50vh;
    border-radius: 10px;
}